<h1>Search for a show</h1>

<% form_tag(search_series_path, :method => :get)  do |f| %>
    <input name="query" value="<%= @show.name %>" type="text">
    <input name="id" value="<%=params[:id]%>" type="hidden">
    <input type="submit" value="Search">
<% end %>

<h1>Edit Show</h1>

<% form_for(@show) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :value => params[:name] %>
  </p>
  <p>
    <%= f.label :banner_url %><br />
    <%= f.text_field :banner_url, :value => params[:banner] %>
  </p>
  <p>
    <%= f.label :imdb_url %><br />
    <%= f.text_field :imdb_url, :value => params[:imdb] %>
  </p>
  <p>
    <%= f.label :overview %><br />
    <%= f.text_area :overview, :value => params[:overview] %>
  </p>
  <p>
    <%= f.label :series_id %><br />
    <%= f.text_field :series_id, :value => params[:series_id] %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', shows_path %>
