<p>
  <b>Name:</b>
  <%=h @show.name %>
</p>

<p>
  <b>Banner URL</b>
  <%=@show.banner_url %><br/>
  <%=image_tag @show.banner_url %>
</p>

<p>
  <b>IMDB URL</b>
  <%=h @show.imdb_url %>
</p>
<p>
  <b>Overview</b>
  <%=h @show.overview %>
</p>
<p>
  <b>Series ID</b>
  <%=h @show.series_id %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
